<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
    RewriteRule ^ /%1 [NC,L,R]

    RewriteCond %{REQUEST_FILENAME}.html -f
    RewriteRule ^ %{REQUEST_URI}.html [NC,L]

    # ROBOTS
    RewriteCond %{HTTP_HOST} \.dev\.
    RewriteRule ^robots\.txt /robots-hlog.txt [NC,L]
</IfModule>